---
const res = await fetch("http://54.163.23.34/wp-json/wp/v2/posts");
const posts = await res.json();
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    {
      posts.map((post: any) => (
        <>
          {post.jetpack_featured_media_url ? (
            <img src={post.jetpack_featured_media_url} />
          ) : null}
          <h2 set:html={post.title.rendered} />
          <p set:html={post.content.rendered} />
        </>
      ))
    }
  </body>
</html>
